.bar {
    .row {
      .mixed-chart {
        .scores {
          display: flex;
          flex-wrap: wrap; /* Allows the items to wrap to the next line if they overflow */
          justify-content: center; /* Centers the items horizontally */
          align-items: center; /* Centers the items vertically */
          gap: 50px; /* Adds some space between the items */

          .score-item {
            background-color: #fff; /* You can style this as needed */
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
            padding-right: 5px;
          }
        }
  
        .bar-chart {
          margin-top: 20px;
        }
      }
    }
  }
  