// Sidebar
$main-height: 100vh;
$main-width: 230px;
$selector-height: 50px;
$selector-width: 229px;
$selector-font-size: 12px;

.sidebarmain {
    height: $main-height;
    width: $main-width;
    display: flex;
    flex-direction: column;
    box-shadow: 4px calc(0px) 10px rgba(0, 0, 0, 0.1);
    position: fixed; 
    padding: 0px 40px 0px 17px;
    overflow-y: auto; 
    z-index: 2;
    margin-top: -10px;

    .header {
        display: flex;
        margin-bottom: 40px;

        .text {
     
            font-size: 40px;
            font-weight: 500;
            margin-top: 10px;
      

            .Q {
                color: #3c5edf;
            }
        }
    }

    .selectors {
        display: flex;
        align-items: center;

        margin: 0 auto;
        cursor: pointer;
        height: $selector-height;
        width: $selector-width;
        padding: 0 6px;
        box-sizing: border-box;

        .image {
            width: 38px;
            height: 38px;
        }

        .text {
         
            font-size: 18px;
            padding-left: 10px;
            letter-spacing: 2px;
            font-weight: 600;
        }

        &:hover {
            border-radius: 6px;
        }

        &.selected {
            border-radius: 6px;
        }
    }

    .spacing {
        height: 30px; 
        width: 100%; 
    }
}
