@import "../../assets/Common";

nav {
  width: 100%;
  background-color: $navback-color;
  box-shadow: 0px 4px 6px 0px $shadow-color;
  .main {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: $navback-color;
    height: 55px;
    max-width: 1366px;
    padding: 12px;
    margin: 0px auto;
    .leftside {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 50%;
      .logo {
        height: 150px;
        width: 100px;
      }
      .logo img {
        max-width: 100%;
        margin-top: 35px;
        object-fit: cover;
      }
      .text {
        font-family: $primary-font;
        font-size: 40px;
        color: $btn-color;
        .Q {
          color: #3c5edf;
        }
      }
    }
    .rightside {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.6rem;
      width: 50%;

      button {
        width:130px;
        height: 43px;
        margin: 5px;
        border: none;
        border-radius: 6px;
        background-color: $btn-color;
        color:$pure-white;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        font-family: $primary-font;
        &:hover {
          background-color: darken(#F5B400, 1%);
          color: lighten(#F4F4F4, 10%);
          box-shadow: 0 0.25rem 0.5rem 0 rgba(12, 12, 12, 0.35);
      }
      }
      .login {
        padding: 0.2rem 1.6rem;
        height: 2.5rem;
        background-color: $btn-color;
        letter-spacing:2px;
      }
      .signup {
        padding: 0.2rem 1.6rem;
        height: 2.5rem;
        background-color: $btn-color;
       letter-spacing:2px;
      }
      .login,
      .signup {
        box-shadow: 0px 4px 6px 0px $shadow-color;
      }
    }
  }
}


