h1 {
  margin-top: 25px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  max-width: 1366px; 
  margin: 0 auto;    
  border-collapse: collapse;

  .AdminTableRow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-width: 600px; /* Ensure minimum width for table row */
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
  }

  th {
    font-size: 16px;
  }

  tbody {
    .AdminQuiz {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      padding: 6px;
      margin: 10px 0;
      border-radius: 6px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
      letter-spacing: 2px;

      &:nth-child(odd) {
        background: #FAD02E;
      }

      &:nth-child(even) {
        background-color: #3498DB;
      }
    }
  }
}

body {
  padding: 0 20px; 
}

