.register{
    max-width: 1366px;
    width: 100%;
    margin: auto;
    // border: 2px solid red;
    .container{
    height: 550px;
    width: 650px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    img{
        width: 500px;
        height: 90px;
        margin: auto;
    }
}}