@import "../../assets/Common";


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 120px;


    .boxContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;

        p {
            font-size: 41.9px;
            color: rgba(60, 94, 223, 1);
            margin-top: -10px;
            font-family: $primary-font;
            letter-spacing:3.5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .formContainer {
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

             // Custom scrollbar styling
             &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #7B8788;
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-track {
                background-color: #F7F6F6;
                border-radius: 10px;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 3px;

                .inputField, .smallInputField {

                    color: rgb(130, 131, 137);
                    letter-spacing: 4px;
                    box-shadow: -0.005rem 0.125rem 0.325rem 0.005rem rgba(12, 12, 12, 0.25);

                    &::placeholder {
                        font-family: $primary-font; 
                        letter-spacing:4px;
                        font-size: 1.5rem; 
                        color: rgb(130, 131, 137);

                    }
                    &::-webkit-input-placeholder {
                        font-family: $primary-font; 
                        letter-spacing:4px;
                        font-size: 1.5rem; 
                    }
                    &:-ms-input-placeholder {
                        font-family: $primary-font;
                        letter-spacing:4px;
                        font-size: 1.5rem; 
                    }
                    &:focus {
                        outline: none; /* Remove the outline when focused */
                    }

                     /* Autofill styles */
                     &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0 1000px #F7F6F6 inset; /* Background color */
                        -webkit-text-fill-color: rgb(130, 131, 137); /* Text color */
                    }

                    &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
                        -webkit-box-shadow: 0 0 0 1000px #F7F6F6 inset; /* Background color */
                        -webkit-text-fill-color: rgb(130, 131, 137); /* Text color */
                    }
                    

                    
                }

                .inputField {
                    width: 95%;
                    height: 4.375rem; 
                    padding: 0 0 0 0.5rem; 
                    font-size: 1.5rem; 
                    font-family: $primary-font;
                    background-color: #F7F6F6;
                    border-radius: 0.25rem; 
                    border: none;
                    margin: 0.9375rem 0; 
                    letter-spacing: 3px;
                }
       
                

                .smallForm {
                    display: flex;
                    justify-content: space-between;
                    gap: 1.25rem; 

                    .smallInputField {
                        flex: 1;
                        justify-content: space-evenly;
                        width: 15.625rem; 
                        height: 4.375rem; 
                        padding: 0 0 0 0.5rem; 
                        font-size: 1.5rem;
                        font-family: $primary-font;
                        background-color: #F7F6F6;
                        border-radius: 0.25rem; 
                        border: none;
                        margin: 0.9375rem 0.9375rem 0.9375rem 0; 
                        // box-shadow: 0 0.125rem 0.125rem 0 rgba(12, 12, 12, 0.25); 
                    }
                }
            }
        }
        

        button {
            @include button;
            background-color: #F5B400;
            height: 3.06rem; 
            width: 100%;
            max-width: 10.5rem; 
            border-radius: 0.25rem; 
            color: #F4F4F4;
            font-size: 1.5rem; 
            box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 12, 12, 0.25); 
            margin: 1.25rem; 
            font-family: $primary-font;
            letter-spacing:3px;
            
            

            &:hover {
                background-color: darken(#F5B400, 1%);
                color: lighten(#F4F4F4, 10%);
                box-shadow: 0 0.25rem 0.5rem 0 rgba(12, 12, 12, 0.35);
            }
        }
        
    }

    img {
        //
    }
}

@media (max-width: 1350px) {
    .main {
        transform: scale(0.95); 
    }
}


@media (max-width: 1300px) {
    .main {
        transform: scale(0.9); 
    }
}

@media (max-width: 1250px) {
    .main {
        transform: scale(0.85); 
    }
}

@media (max-width: 1200px) {
    .main {
        transform: scale(0.8); 
    }
}

@media (max-width: 1100px) {
    .main {
        transform: scale(0.75); 
    }
}
@media (max-width: 1000px) {
    .main {
        transform: scale(0.7); 
    }
}