@import "../../assets/Common";

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
    // margin-top: 100px;
    

    .boxContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        // img{
        //     margin-top: 50px;
        //     height: 100px;
        // }

        p{
            font-size: 40px;
            color: rgba(60, 94, 223, 1);
        }
        

        .formContainer{
            height: 400px; 
            overflow-y: auto; 
            overflow-x: hidden;
    

            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .inputField{
                    width: 500px;
                    height: 70px;
                    padding: 0px 0px 0px 8px;
                    font-size: 30px;
                    background-color: #F7F6F6;
                    border-radius: 4px;
                    border: none;
                    margin: 15px 0;
                    box-shadow: 0px 2px 2px 0px rgba(12, 12, 12, 0.25);

                    
                }

                .smallInputField{
                    flex: 1;
                    justify-content: space-evenly;
                    width: 250px;
                    height: 70px;
                    padding: 0px 0px 0px 8px;
                    font-size: 30px;
                    background-color: #F7F6F6;
                    border-radius: 4px;
                    border: none;
                    margin: 15px 15px 15px 0;
                    box-shadow: 0px 2px 2px 0px rgba(12, 12, 12, 0.25);

                }
            }
            
        }

        button{
            @include button;
            background-color: #F5B400;
            height: 49px;
            width: 168px ;
            border-radius: 4px;
            color: #F4F4F4;
            font-size: 24px;
            box-shadow: 0px 4px 6px 0px rgba(12, 12, 12, 0.25);
            margin: 20px;
            font-family: $primary-font;
        }

    }

    img{
        
    }
}


    
