$main-theme: #f5b400;
$text-color-btn: #f4f4f4;
$text-color_form:#8B8A8A;
$btn-color: #f5b400;
$heading-color: #1e1702;
$navback-color: #e3e3e3;
$pure-white:#FFFFFF;
$shadow-color:#e0e0e0;
$primary-font:("Itim",cursive);

@mixin input{
    height: inherit;
    width: inherit;
    border: none;
    outline: none;
    border-radius: inherit;
    letter-spacing: 2px;
    background-color: #F7F6F6;
    box-shadow: 0px 4px 6px 0px $shadow-color;
}

@mixin button{
    border: none;
    outline: none;
    height: inherit;
    width: inherit;
    cursor: pointer;
    box-shadow: 0px 4px 6px 0px $shadow-color;
}

