$main-theme: #f5b400;
$text-color-btn: #f4f4f4;
$text-color_form:#8B8A8A;
$btn-color: #f5b400;
$heading-color: #1e1702;
$navback-color: #e3e3e3;
$pure-white:#FFFFFF;
$shadow-color:#e0e0e0;
$primary-font:("Itim",cursive);
// *{
//     padding: 0;
//     margin: 0;
// }
